@{
    ViewData["Title"] = "Blueprint";
}

<link href="~/css/site.css?v=@DateTime.Now.Ticks" rel="stylesheet" />

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="~/js/site.js?v=@DateTime.Now.Ticks"></script>
<h3>Blueprint Workspace</h3>
<div class="blueprint-canvas">
    Blueprint output appears here
</div>
