@{
    ViewData["Title"] = "Review";
}

<h3>Uploaded Structure</h3>

<div class="tree-view" id="treeView">
    Loading...
</div>

<script>
    $(document).ready(function () {
        loadOCRTreeView();
    });
</script>
